root = true

[*.{cmd,bat}]
trim_trailing_whitespace = true
indent_style = tab
insert_final_newline = false

[*.{csproj,props,targets,nuspec,sh,ps1,cs,csx,cake}]
trim_trailing_whitespace = true
indent_style = tab
insert_final_newline = false
charset = utf-8
max_line_length = 32768

[*.{cs,csx,cake}]
trim_trailing_whitespace = true
indent_style = tab
insert_final_newline = false
charset = utf-8

[*.{csproj,props,targets,nuspec,sh,cs,csx,cake}]
end_of_line = lf

[*.csproj]
indent_size = 2
tab_width = 2

[*.{props,targets,nuspec}]
indent_size = 2
tab_width = 2

[*.sh]
indent_size = 4
tab_width = 4

[*.{ps1,cmd,bat}]
indent_size = 4
tab_width = 4
end_of_line = crlf

[*.{cs,csx,cake}]
indent_size = 4
tab_width = 4

# use of this
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning

# predefined type (int instead of Int32)
dotnet_style_predefined_type_for_locals_parameters_members = true:error
dotnet_style_predefined_type_for_member_access = true:error

# visibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:error
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async, file, required:suggestion
dotnet_style_readonly_field = true:error

# parentheses 
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:none

# Expression - level
dotnet_style_object_initializer = true:error
dotnet_style_collection_initializer = true:error
dotnet_style_explicit_tuple_names = true:error
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:error
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:error
dotnet_style_prefer_conditional_expression_over_assignment = true:warning
dotnet_style_prefer_conditional_expression_over_return = true:warning

# Null checking
dotnet_style_coalesce_expression = true:error
dotnet_style_null_propagation = true:error

# implicit and explicit types
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
csharp_style_var_elsewhere = false:suggestion

# Expression bodied member
csharp_style_expression_bodied_methods = false:none
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_operators = false:none
csharp_style_expression_bodied_properties = true:error
csharp_style_expression_bodied_indexers = true:error
csharp_style_expression_bodied_accessors = true:error

# Pattern matching
csharp_style_pattern_matching_over_is_with_cast_check = true:error
csharp_style_pattern_matching_over_as_with_null_check = true:error

# Inlined variable declaration
csharp_style_inlined_variable_declaration = true:error

# Expression level preferences
csharp_prefer_simple_default_expression = true:error
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:none

# Null checking preferences
csharp_style_conditional_delegate_call = true:error
csharp_style_throw_expression = true:suggestion

# Code block preferences
csharp_prefer_braces = true:error

# Formatting conventions
dotnet_sort_system_directives_first = true

csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left

csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_semicolon_in_for_statement = true

csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = do_not_ignore

csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = true

csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_square_brackets = false

csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

##########################
###### Naming rules ######
##########################

# define styles
dotnet_naming_style.all_upper.word_separator = _
dotnet_naming_style.all_upper.capitalization = all_upper

dotnet_naming_style.pascalcase.capitalization = pascal_case

dotnet_naming_style.camelcase.capitalization = camel_case

#### Namespace ####
dotnet_naming_symbols.namespace.applicable_kinds = namespace
dotnet_naming_rule.namespace_name.symbols = namespace
dotnet_naming_rule.namespace_name.style = PascalCase
dotnet_naming_rule.namespace_name.severity = warning

#### Class, struct, interface, enum, delegate ####
dotnet_naming_symbols.class.applicable_kinds = class,struct,enum
dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.delegate.applicable_kinds = delegate

dotnet_naming_rule.class_name.symbols = class
dotnet_naming_rule.class_name.style = PascalCase
dotnet_naming_rule.class_name.severity = warning

dotnet_naming_rule.interface_name.symbols = interface
dotnet_naming_rule.interface_name.style = InterfaceName
dotnet_naming_rule.interface_name.severity = warning
dotnet_naming_style.interfacename.capitalization = pascal_case
dotnet_naming_style.interfacename.required_prefix = I

dotnet_naming_rule.delegate_name.symbols = delegate
dotnet_naming_rule.delegate_name.style = PascalCase
dotnet_naming_rule.delegate_name.severity = warning

# define property types
dotnet_naming_symbols.property.applicable_kinds = property,event

dotnet_naming_rule.property_name.symbols = property
dotnet_naming_rule.property_name.style = PascalCase
dotnet_naming_rule.property_name.severity = error

# define method types
dotnet_naming_symbols.method.applicable_kinds = method,local_function

dotnet_naming_rule.property_name.symbols = method
dotnet_naming_rule.property_name.style = PascalCase
dotnet_naming_rule.property_name.severity = error

# define variable in method
dotnet_naming_symbols.const_variable.applicable_kinds = local
dotnet_naming_symbols.const_variable.required_modifiers = const

dotnet_naming_symbols.variable.applicable_kinds = parameter,local

dotnet_naming_rule.const_variable_must_be_uppercase.symbols = const_variable
dotnet_naming_rule.const_variable_must_be_uppercase.style = ALL_UPPER
dotnet_naming_rule.const_variable_must_be_uppercase.severity = error

dotnet_naming_rule.variable_name.symbols = variable
dotnet_naming_rule.variable_name.style = camelCase
dotnet_naming_rule.variable_name.severity = error

# define generic type
dotnet_naming_symbols.generic_type.applicable_kinds = type_parameter

dotnet_naming_rule.variable_name.symbols = generic_type
dotnet_naming_rule.variable_name.style = GenericTypeName
dotnet_naming_rule.variable_name.severity = error
dotnet_naming_style.generictypename.capitalization = pascal_case
dotnet_naming_style.generictypename.required_prefix = T

# define fields types
dotnet_naming_symbols.const_fields.applicable_kinds = field
dotnet_naming_symbols.const_fields.applicable_accessibilities = *
dotnet_naming_symbols.const_fields.required_modifiers = const

dotnet_naming_symbols.static_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.static_readonly_fields.applicable_accessibilities = *
dotnet_naming_symbols.static_readonly_fields.required_modifiers = static,readonly

dotnet_naming_symbols.non_private_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_fields.applicable_accessibilities = public,internal,friend,protected,protected_internal,protected_friend

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_rule.const_field_must_be_uppercase.symbols = const_fields
dotnet_naming_rule.const_field_must_be_uppercase.style = ALL_UPPER
dotnet_naming_rule.const_field_must_be_uppercase.severity = error

dotnet_naming_rule.static_readonly_field_must_be_uppercase.symbols = static_readonly_fields
dotnet_naming_rule.static_readonly_field_must_be_uppercase.style = ALL_UPPER
dotnet_naming_rule.static_readonly_field_must_be_uppercase.severity = error

dotnet_naming_rule.non_private_field_name.symbols = non_private_fields
dotnet_naming_rule.non_private_field_name.style = PascalCase
dotnet_naming_rule.non_private_field_name.severity = error

dotnet_naming_rule.private_field_name.symbols = private_fields
dotnet_naming_rule.private_field_name.style = PrivateFieldName
dotnet_naming_rule.private_field_name.severity = error
dotnet_naming_style.privatefieldname.capitalization = camel_case
dotnet_naming_style.privatefieldname.required_prefix = _

# ReSharper properties
resharper_autodetect_indent_settings = true
resharper_enforce_line_ending_style = true
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_keep_existing_enum_arrangement = true
resharper_no_indent_inside_if_element_longer_than = 2147483647
resharper_object_creation_when_type_not_evident = target_typed
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_trailing_comma_in_multiline_lists = true
resharper_use_indent_from_vs = false
resharper_wrap_lines = true
resharper_wrap_object_and_collection_initializer_style = chop_always

# Standard properties
end_of_line = lf
max_line_length = 32768

# Microsoft .NET properties
csharp_style_prefer_utf8_string_literals = true:suggestion
dotnet_naming_rule.class_name.import_to_resharper = True
dotnet_naming_rule.class_name.resharper_description = class_name
dotnet_naming_rule.class_name.resharper_guid = b3cd7eaf-3d1c-4558-9ddb-22cd6c845748
dotnet_naming_rule.constants_rule.import_to_resharper = True
dotnet_naming_rule.constants_rule.resharper_description = Constant fields (not private)
dotnet_naming_rule.constants_rule.resharper_guid = 669e5282-fb4b-4e90-91e7-07d269d04b60
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.constants_rule.style = all_upper
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.const_field_must_be_uppercase.import_to_resharper = True
dotnet_naming_rule.const_field_must_be_uppercase.resharper_description = const_field_must_be_uppercase
dotnet_naming_rule.const_field_must_be_uppercase.resharper_guid = bd757a89-2dde-4e04-b6f6-57cd164637e6
dotnet_naming_rule.const_variable_must_be_uppercase.import_to_resharper = True
dotnet_naming_rule.const_variable_must_be_uppercase.resharper_description = Local constants
dotnet_naming_rule.const_variable_must_be_uppercase.resharper_guid = a4f433b8-abcd-4e55-a08f-82e78cef0f0c
dotnet_naming_rule.delegate_name.import_to_resharper = True
dotnet_naming_rule.delegate_name.resharper_description = delegate_name
dotnet_naming_rule.delegate_name.resharper_guid = 10004c6f-4fd0-4061-a83d-a22c20675529
dotnet_naming_rule.enum_member_rule.import_to_resharper = True
dotnet_naming_rule.enum_member_rule.resharper_description = Enum members
dotnet_naming_rule.enum_member_rule.resharper_guid = 8b8504e3-f0be-4c14-9103-c732f2bddc15
dotnet_naming_rule.enum_member_rule.resharper_style = AA_BB, AaBb
dotnet_naming_rule.enum_member_rule.severity = warning
dotnet_naming_rule.enum_member_rule.style = all_upper
dotnet_naming_rule.enum_member_rule.symbols = enum_member_symbols
dotnet_naming_rule.interface_name.import_to_resharper = True
dotnet_naming_rule.interface_name.resharper_description = Interfaces
dotnet_naming_rule.interface_name.resharper_guid = a7a3339e-4e89-4319-9735-a9dc4cb74cc7
dotnet_naming_rule.namespace_name.import_to_resharper = True
dotnet_naming_rule.namespace_name.resharper_description = namespace_name
dotnet_naming_rule.namespace_name.resharper_guid = 8d7d6bdc-b6f1-4b0d-80a7-493b729267c3
dotnet_naming_rule.non_private_field_name.import_to_resharper = True
dotnet_naming_rule.non_private_field_name.resharper_description = non_private_field_name
dotnet_naming_rule.non_private_field_name.resharper_guid = fcc3fef4-4470-491f-b835-8518a4f96d2b
dotnet_naming_rule.private_constants_rule.import_to_resharper = True
dotnet_naming_rule.private_constants_rule.resharper_description = Constant fields (private)
dotnet_naming_rule.private_constants_rule.resharper_guid = 236f7aa5-7b06-43ca-bf2a-9b31bfcff09a
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = all_upper
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_field_name.import_to_resharper = True
dotnet_naming_rule.private_field_name.resharper_description = private_field_name
dotnet_naming_rule.private_field_name.resharper_guid = 3609cbda-3562-411a-972c-94c9a23026e2
dotnet_naming_rule.private_instance_fields_override_rule.import_to_resharper = False
dotnet_naming_rule.private_instance_fields_override_rule.severity = warning
dotnet_naming_rule.private_instance_fields_override_rule.style = privatefieldname
dotnet_naming_rule.private_instance_fields_override_rule.symbols = private_instance_fields_override_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper = True
dotnet_naming_rule.private_instance_fields_rule.resharper_description = Instance fields (private)
dotnet_naming_rule.private_instance_fields_rule.resharper_guid = 4a98fdf6-7d98-4f5a-afeb-ea44ad98c70c
dotnet_naming_rule.private_instance_fields_rule.severity = warning
dotnet_naming_rule.private_instance_fields_rule.style = privatefieldname
dotnet_naming_rule.private_instance_fields_rule.symbols = private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = True
dotnet_naming_rule.private_static_fields_rule.resharper_description = Static fields (private)
dotnet_naming_rule.private_static_fields_rule.resharper_exclusive_prefixes_suffixes = true
dotnet_naming_rule.private_static_fields_rule.resharper_guid = f9fce829-e6f4-4cb2-80f1-5497c44f51df
dotnet_naming_rule.private_static_fields_rule.severity = warning
dotnet_naming_rule.private_static_fields_rule.style = privatefieldname
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = True
dotnet_naming_rule.private_static_readonly_rule.resharper_description = Static readonly fields (private)
dotnet_naming_rule.private_static_readonly_rule.resharper_guid = 15b5b1f1-457c-4ca6-b278-5615aedc07d3
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = all_upper
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.property_name.import_to_resharper = True
dotnet_naming_rule.property_name.resharper_description = property_name
dotnet_naming_rule.property_name.resharper_guid = 29381cd8-dec7-4fab-87b9-9eae38094fb8
dotnet_naming_rule.static_readonly_field_must_be_uppercase.import_to_resharper = True
dotnet_naming_rule.static_readonly_field_must_be_uppercase.resharper_description = static_readonly_field_must_be_uppercase
dotnet_naming_rule.static_readonly_field_must_be_uppercase.resharper_guid = a9810446-1df8-4ea8-8094-8c23c965d2b3
dotnet_naming_rule.static_readonly_rule.import_to_resharper = True
dotnet_naming_rule.static_readonly_rule.resharper_description = Static readonly fields (not private)
dotnet_naming_rule.static_readonly_rule.resharper_guid = c873eafb-d57f-481d-8c93-77f6863c2f88
dotnet_naming_rule.static_readonly_rule.severity = warning
dotnet_naming_rule.static_readonly_rule.style = all_upper
dotnet_naming_rule.static_readonly_rule.symbols = static_readonly_symbols
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.style = camelcase
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_rule.variable_name.import_to_resharper = True
dotnet_naming_rule.variable_name.resharper_description = variable_name
dotnet_naming_rule.variable_name.resharper_guid = 802329e2-3675-49f4-844f-51f78bad99c8
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.constants_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.constants_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.enum_member_symbols.applicable_accessibilities = *
dotnet_naming_symbols.enum_member_symbols.applicable_kinds = 
dotnet_naming_symbols.enum_member_symbols.resharper_applicable_kinds = enum_member
dotnet_naming_symbols.enum_member_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_constants_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.private_constants_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_instance_fields_override_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_override_symbols.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields_override_symbols.required_modifiers = static
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_instance_fields_symbols.resharper_applicable_kinds = field,readonly_field
dotnet_naming_symbols.private_instance_fields_symbols.resharper_required_modifiers = instance
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_fields_symbols.resharper_applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = readonly,static
dotnet_naming_symbols.private_static_readonly_symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.private_static_readonly_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers = readonly,static
dotnet_naming_symbols.static_readonly_symbols.resharper_applicable_kinds = readonly_field
dotnet_naming_symbols.static_readonly_symbols.resharper_required_modifiers = static
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance

# ReSharper inspection severities
resharper_convert_if_statement_to_return_statement_highlighting = none
resharper_convert_to_primary_constructor_highlighting = hint
resharper_mvc_action_not_resolved_highlighting = warning
resharper_mvc_area_not_resolved_highlighting = warning
resharper_mvc_controller_not_resolved_highlighting = warning
resharper_mvc_masterpage_not_resolved_highlighting = warning
resharper_mvc_partial_view_not_resolved_highlighting = warning
resharper_mvc_template_not_resolved_highlighting = warning
resharper_mvc_view_component_not_resolved_highlighting = warning
resharper_mvc_view_component_view_not_resolved_highlighting = warning
resharper_mvc_view_not_resolved_highlighting = warning
resharper_razor_assembly_not_resolved_highlighting = warning
resharper_redundant_bool_compare_highlighting = none
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[*.{Localization,ComponentColor}.cs]
csharp_style_expression_bodied_methods = true:none
csharp_style_expression_bodied_constructors = true:none
csharp_style_expression_bodied_operators = true:none
csharp_style_expression_bodied_properties = true:none
csharp_style_expression_bodied_indexers = true:none
csharp_style_expression_bodied_accessors = true:none

[*.{appxmanifest,asax,ascx,aspx,axaml,blockshader,c,c++,c++m,cc,ccm,cginc,compute,cp,cpp,cppm,cs,cshtml,cu,cuh,cxx,cxxm,dtd,fs,fsi,fsscript,fsx,fx,fxh,h,h++,hh,hlsl,hlsli,hlslinc,hp,hpp,hxx,icc,inc,inl,ino,ipp,ixx,master,ml,mli,mpp,mq4,mq5,mqh,mxx,nuspec,paml,razor,resw,resx,shader,shaderFoundry,skin,tcc,tpp,urtshader,usf,ush,uxml,vb,xaml,xamlx,xoml,xsd}]
indent_style = tab
indent_size = tab
tab_width = 4

# ReSharper properties
resharper_instance_members_qualify_declared_in = base_class
resharper_wrap_after_property_in_chained_method_calls = true
resharper_wrap_list_pattern = chop_always
